@model IEnumerable<Yearthreeproject.Models.History>

@{
    ViewData["Title"] = "Prescription";
}
<hr />

<form asp-controller="Doctors" asp-action="Prescription" method="get">
    <p>
        NRIC: <input id="search" type="text" name="SearchString">
        <input id="filterBtn" type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient) NRIC
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicationGiven)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price) ($)
            </th>
            <th>
                Status
            </th>
            <th>
               Action 
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicationGiven)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-controller="Doctors" asp-action="Edit" asp-route-id="@item.ID">Confirm Payment</a>
            </td>
        </tr>
        }
    </tbody>
</table>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}